<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hantangtouzi.mapper.dao.UserDao">

    <sql id="base_column_list">
        id, username, password, email, companyId
    </sql>

    <!--根据id查询用户-->
    <select id="getUserById" resultType="User" parameterType="Integer">
        select
        <include refid="base_column_list" />
        from t_user
        where id = #{id}
    </select>

    <!--查询所有的用户-->
    <select id="findUsers" resultType="User">
        select
        <include refid="base_column_list" />
        from t_user
    </select>

    <!--查询符合条件的用户-->
    <select id="findUsersByPage" resultType="User" parameterType="Map">
        select
        <include refid="base_column_list" />
        from t_user
        <where>
            <if test="username!=null and username!=''">
                and username = #{username}
            </if>
        </where>
    </select>

	<!--查询符合条件的用户总数-->
	<select id="getTotalCount" resultType="Integer" parameterType="Map">
		select count(id) from t_role
		<where>
            <if test="username!=null and username!=''">
                and username = #{username}
            </if>
		</where>
	</select>




</mapper>

