<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper为根元素，namespace指定了命名空间-->

<mapper namespace="com.hantangtouzi.mybatis.helloworld.mapper.UserMapper">
    <select id="getUserById" parameterType="Integer" resultType="com.hantangtouzi.mybatis.helloworld.entity.User">
        select id, username, password from t_user where id = #{id}
    </select>
</mapper>